h1{
    text-align: center;
    text-decoration: underline;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(252, 245, 237);
  }
  
  thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 12%;
  }
  
  thead th:nth-child(3) {
    width: 12%;
  }
  
  thead th:nth-child(4) {
    width: 12%;
  }
  
  th,
  td {
    padding: 10;
  }