<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Bdd </h1>
    <p>Liste des taches dans la base de données</p>
    <h1> Nom     Priorité     Catégorie     Etat     Date d'échéance </h1>
    <br>
    <ul>
    {% for task in Task %}
        <li>{{ task[1] }}, {{ task[2] }},{{ task[3] }}, {{ task[4] }},{{ task[5] }}</li>
    {% endfor %}
    </ul>



    <table>
        <caption>
            Liste des taches dans la base de données
        </caption>
        <thead>
          <tr>    
            <th scope="col">Nom</th>
            <th scope="col">Clé primaire</th>
            <th scope="col">Priorité</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Etat</th>
            <th scope="col">Date d'échéance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for task in Task %}
            <th scope="row">{{ task[1] }}</th>
            <td>{{ task[0] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>
            <td>{{ task[4] }}</td>
            <td>{{ task[5] }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
</body>
</html>
{% endblock %}
