<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Ajouter</h1>
    <br>
    <form action="/ajouter2" method="POST">
        <label>Quelle tache voulez vous ajouter: </label>
        <input type="text" name="nom" value="..." />
        <br>
        <label>Quelle niveau de priorité: </label>
        <input type="text" name="prio" value="..." />
        <br>
        <label>A quelle catégorie appartient la tache: </label>
        <input type="text" name="catégorie" value="..." />
        <br>
        <label>A quelle stade êtes vous sur la tache: </label>
        <input type="text" name="stade" value="..." />
        <br>
        <label>Quelle est la date d'échéance: </label>
        <input type="date" name="date" value="AAAA/MM/JJ" />
        <input type="submit" value="Ajouter" />
    </form>
</body>
</html>
{% endblock %}