<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Modifier</h1>
    <br>
    <form action="/modif_nom" method="POST">
        <label>Quelle numéro de tâche voulez vous modifier: </label>
        <input type="number" name="num" value="..." />
        <br>
        <label>Nom de la Tache :</label>
        <input type="text" name="nom" value="..." />
        <input type="submit" value="Envoyer" />
    </form>
    <form action="/modif_prio" method="POST">
        <label>Quelle numéro de tâche voulez vous modifier: </label>
        <input type="number" name="num" value="..." />
        <br>
        <label>Niveau de priorité :</label>
        <input type="text" name="prio" value="..." />
        <input type="submit" value="Envoyer" />
    </form>
    <form action="/modif_type" method="POST">
        <label>Quelle numéro de tâche voulez vous modifier: </label>
        <input type="number" name="num" value="..." />
        <br>
        <label>Type de la tache</label>
        <input type="text" name="type" value="..." />
        <input type="submit" value="Envoyer" />
    </form>
    <form action="/modif_date" method="POST">
        <label>Quelle numéro de tâche voulez vous modifier: </label>
        <input type="number" name="num" value="..." />
        <br>
        <label>Date de la Tache :</label>
        <input type="date" name="date" value="..." />
        <input type="submit" value="Envoyer" />
    </form>
    <form action="/modif_etat" method="POST">
        <label>Quelle numéro de tâche voulez vous modifier: </label>
        <input type="number" name="num" value="..." />
        <br>
        <label>Date de la Tache :</label>
        <input type="text" name="etat" value="..." />
        <input type="submit" value="Envoyer" />
    </form>
</body>
</html>
{% endblock %}